#navbarNav {
  font-size: 1.5em;
  justify-content: space-around;
}

#navbarNav ul li {
  margin-left: 5%;
}

#navbarNav ul li a {
  color: #000;
  font-weight: 700;
}

#navbarNav ul li a:hover {
  color: #eb6d4c;
}

.heading {
  background: linear-gradient(
      to bottom,
      rgba(209, 220, 245, 0.8817),
      rgba(144, 154, 210, 0.8149),
      rgba(38, 47, 153, 0.7067),
      rgba(38, 47, 153, 0.8)
    ),
    url("../img/banner.jpg");
  background-size: cover;
  box-shadow: 0 8px 6px -6px black;
  height: 8%;
  margin-bottom: 5%;
  width: 100%;
}

.container-navbar {
  margin-left: 10%;
}
